@(header : Option[List[String]] = None, content : Option[List[List[String]]] = None, isHeaderPreselected : Array[Boolean] = new Array[Boolean](0), displayErrorMessages: Boolean = true)(implicit session : Session)
<!--I added a displayErrorMessages field since sessions do not update until the next request-response transaction which means sometimes 
false error messages are displayed-->


<!DOCTYPE html>

<head>
    <style>
        table,td
        {
            border:1px solid black;
            border-collapse:collapse;
        }
    </style>
    
    <script>
    function changeBackgroundColor(buttonNumber) {
        var checked = document.getElementById("value[" + buttonNumber + "]").checked
        var elements = document.getElementsByTagName('*'), i;
        for(i in elements){
            if((' ' + elements[i].className + ' ').indexOf(' ' + "class" + buttonNumber + ' ') > -1){
                if(checked){
                    elements[i].style.background="#C1FFAC";
                } else {
                    elements[i].style.background="#FFFFFF";
                }
            }
        }
    }
    </script>
</head>


<html>
    <body>
        <h2>&nbspAdd Files and Samples</h2>
        <div style="width:500px;height=225px;border:solid;margin-left:10px;">
            <h3>&nbsp Add File</h3>
            <div style="margin-left:auto;margin-right:auto;text-align:center">
                @if(session.get("uploadErrorMessage").isDefined && displayErrorMessages == true){
                    <p style="color:red" >@(session.get("uploadErrorMessage"))</p>
                }
                <form action="@routes.SampleSelection.upload" method="POST" enctype="multipart/form-data">
                    <input type="file" name="tsvFile">
                    <p>
                        <button type="submit">Upload</button>
                    </p>
                </form>
            </div>
        </div>
        @if(header.isDefined){
            <br><br>
            <div style="border:solid;margin-left:10px;">
                <h3>&nbsp Pick Columns</h3>
                <form action="@routes.SampleSelection.processForm" method="POST">
                    <div style="margin-left:15px;text-align:center;overflow-x:scroll;">
                        <table>
                            <tr>
                                
                                <!--In order to have a checkbox return a false value if not selected, a hidden input is required after with 
                                the same name and with a value of false  see the following thread for more information: 
                                https://groups.google.com/forum/#!topic/play-framework/HygQuYF3a8E-->
                            
                                @for(counter <- 0 to (header.get.size - 1)){
                                    <td>
                                        @if(isHeaderPreselected(counter) == true){
                                            <input type="checkbox" name="value[@(counter)]" id="value[@(counter)]" value="true" onchange="changeBackgroundColor(@(counter))" checked>
                                        } else {
                                            <input type="checkbox" name="value[@(counter)]" id="value[@(counter)]" value="true" onchange="changeBackgroundColor(@(counter))">
                                        }
                                        <input type="hidden" name="value[@(counter)]" id="value[@(counter)]" value="false">
                                    </td>
                                }
                            </tr>
                            <tr>
                                @for(counter <- 0 to (header.get.size - 1)){
                                    @if(isHeaderPreselected(counter) == true){
                                        <td style="background-color:#C1FFAC;" class="class@(counter)">@(header.get(counter))</td>
                                    } else {
                                        <td class="class@(counter)">@(header.get(counter))</td>
                                    }
                                }
                            </tr>
                            @for(row <- content.get){
                                <tr>
                                    @for(counter <- 0 to (row.size - 1)){
                                        @if(isHeaderPreselected(counter) == true){
                                            <td style="background-color:#C1FFAC;" class="class@(counter)">@(row(counter))</td>
                                        } else {
                                            <td class="class@(counter)">@(row(counter))</td>
                                        }
                                    }
                                </tr>
                            }
                        </table>
                        <br>
                    </div>
                    <br>
                    <button style="margin-left: 50%; margin-right: 50%" type="submit">Submit</button>
                    <p></p>
                </form>
            </div>
        }
    </body>
</html>