@(xmlNamesToGenerate: Array[String])(implicit session: Session)

<!DOCTYPE html>

<html>
    <head>
        <style>
            #xmlFileNames {
                text-align: center;
            }
        </style>
    </head>

    <body>
        <p>Welcome to the XML Generation page!</p>
        <p>We are about to generate XML files for the samples in 
        @if(session.get("viewFilesSamples").isDefined && !session.get("viewFilesSamples").get.equals("all")){
            the @(session.get("viewFilesSamples").get) tsv file in the @(session.get("releaseName").get) release.</p>
        } else {
            all of the tsv files in the @(session.get("releaseName").get) release! </p>
        }
        <p>Here is a list of the XML files that will be generated: </p>
        <div id="xmlFileNames">
            @for(xmlName <- xmlNamesToGenerate){
                <p>@(xmlName)</p>
            }
            <form action="@routes.XMLGeneration.generateXMLs" method="POST">
                <input type="submit" value="Generate!"/>
            </form>
        </div>
    </body>
</html>