@(releaseName: String, fileName: String, generatedXMLs : Array[String])

<!DOCTYPE html>
<head>
    <style>
        .submitButton {
            border:solid 2px;
            width:auto;
            display:inline-block;
            padding:10px;
            margin: 20px;
        }
        
        .errorMessage { 
            float:left;
            color: red;
        }
        
        #topMessage {
            margin-bottom:0px;
            margin-top:19px;
        }
        
        #onlyMessage {
            margin-top:30px;
        }
    </style>
    
    <script>
        function clickedButton(server) {
            document.getElementById("selectedButton").value=server;
            document.getElementById("submissionForm").submit();
        }
    </script>
</head>
<body>
    <h2 style="margin-left:10px">Submit XML</h2>
    <p></p>
    <p style="margin-left:20px">Generated XMLs:</p>
    <div style="margin-left:30px">
        @for(xmlName <- generatedXMLs){
            <a href="@routes.Assets.at("/public/GeneratedXMLs", releaseName + "/" + xmlName)">@(xmlName)</a><br>
        }
    </div>
    <br><br><br>
    <form action="@routes.XMLSubmission.processServerSubmission" method="POST" id="submissionForm">
        <div class="submitButton" id="validate" style="text-align:center" onclick="clickedButton('validate')">
            Validate
        </div>
        <br>
        <div class="submitButton" id="submitReleaseDiv" style="text-align:center;float:left" onclick="clickedButton('realServer')">
            Submit Release 
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>    
        <div class="submitButton" id="submitDataset" style="text-align:center;float:left" onclick="clickedButton('dataset')">
            Submit Dataset 
        </div>
        <input type="hidden" id="selectedButton" name = "selectedButton" value="testServer">
    </form>
</body>