@(releaseName: String, fileName: String, generatedXMLs : Array[String], allSamplesComplete : Boolean)

<!DOCTYPE html>
<head>
    <style>
        .submitButton {
            border:solid 2px;
            width:auto;
            display:inline-block;
            padding:10px;
            margin: 20px;
        }
        
        .errorMessage { 
            float:left;
            color: red;
        }
        
        #topMessage {
            margin-bottom:0px;
            margin-top:19px;
        }
        
        #onlyMessage {
            margin-top:30px;
        }
    </style>
    
    <script>
        function clickedButton(server) {
            document.getElementById("selectedButton").value=server;
            document.getElementById("submissionForm").submit();
        }
    </script>
</head>
<body>
    <h2>Submit XML</h2>
    <br>
    @for(xmlName <- generatedXMLs){
        <p class="XMLName">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp@(xmlName)</p>
    }
    <br><br><br>
    <form action="@routes.XMLSubmission.processServerSubmission" method="POST" id="submissionForm">
        <div class="submitButton" id="submitToTestServer" style="text-align:center" onclick="clickedButton('testServer')">
            Submit To Test Server
        </div>
        <br>
        <div>
            @if(allSamplesComplete && fileName.equals("all")){
                <div class="submitButton" id="submitReleaseDiv" style="text-align:center;float:left" onclick="clickedButton('realServer')">
            } else {
                <div class="submitButton" id="submitReleaseDiv" style="text-align:center;float:left;background-color:#C0C0C0">
            }
                Submit Release
        </div>
        @if(!allSamplesComplete){
            <p class="errorMessage" id="onlyMessage">There are incomplete samples in this release!</p>
        } else {
            @if(!fileName.equals("all")){
                <p class="errorMessage" id="topMessage">Not all of the files in this release have been submitted.</p>
                <br>
                <br>
                <p class="errorMessage" style="margin-top:5px">(To fix this, select the "all" tab on the egaReleaseSamples page before generating the XMLs)</p>
            }
        }
        <input type="hidden" id="selectedButton" name = "selectedButton" value="testServer">
    </form>
</body>